.crew-container{
    position: absolute;
    top: 0;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;

    .crew-cover{
        padding: 175px 150px;
        padding-bottom: 0;

        .crew-header{
            color: white;
            display: flex;
            justify-content: flex-start;
            font-family: 'Barlow Condensed';
            font-style: normal;
            font-size: 25px;
            line-height: 34px;
            letter-spacing: 4.725px;
            margin-bottom: 123px;

            span{
                font-weight: 700;
                mix-blend-mode: normal;
                opacity: 0.25;
            }
    
            h4{
                margin-left: 25px;
                text-transform: uppercase;
                font-weight: 400;
            }
        }

        .crew-content{
            display: flex;
            width: 100%;
            h4{
                font-family: 'Bellefair';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 37px;

                text-transform: uppercase;

                color: #FFFFFF;

                mix-blend-mode: normal;
                opacity: 0.5;
            }

            h1{
                font-family: 'Bellefair';
                font-style: normal;
                font-weight: 400;
                font-size: 56px;
                line-height: 64px;
                text-transform: uppercase;
                color: white;
                margin-bottom: 15px;
            }

            p{
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                max-width: 444px;
                color: #D0D6F9;
            }
            .introduce{
                width: 62%;
            }
    
            .info-image{
                width: 35%;
                position: absolute;
                bottom: 0;
                right: 8%;
                img{
                    // width: 100%;
                    height: 500px;
                    
                }
            }
        }


        .control-content{
            display: flex;
            // position: absolute;
            // bottom: 50px;

            .btn-control{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: white;
                margin-right: 24px;
                mix-blend-mode: normal;
                opacity: 0.17;
                cursor: pointer;
                transition: opacity .3s;
                &:hover{
                    opacity: 0.500094473361969;
                }
            }

            .btn-active{
                opacity: 1 !important;
            }
        }
    }
}

@media (max-width: 1110px){
    .crew-cover{
        .crew-content{
            .info-image{
                img{
                    height: 450px !important;
                }
            }
        }
    }
}

@media (max-width: 1080px){
    .crew-cover{
        padding: 175px 100px !important;
        padding-bottom: 0 !important;
        .crew-header{
            // margin-bottom: 100px !important;
        }

        .crew-content{
            .introduce{
                p{
                    margin-bottom: 25px;
                }
            }
        }
    }
}



@media (max-width: 1024px)  {
    // .crew-cover{
    //     padding: 150px 100px !important;
    //     padding-bottom: 0 !important;
    //     .crew-header{
    //         margin-bottom: 100px !important;
    //     }

    //     .crew-content{
    //         .introduce{
    //             p{
    //                 margin-bottom: 25px;
    //             }
    //         }
    //     }
    // }
}