// @keyframes alll{
//     to{
//         opacity: 1;
//     }
// }

.home-container{
    // opacity: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #D0D6F9;
    // margin-top: 140px;
    position: absolute;
    top: 0;
    z-index: -1;
    // animation: alll .3s ease-in forwards;
    .introduce{
        flex: 50%;
        max-width: 400px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;

        h4{
            font-family: 'Barlow Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 34px;
            /* identical to box height */

            letter-spacing: 4.725px;
        }

        h1{
            font-family: 'Bellefair';
            font-style: normal;
            font-weight: 400;
            font-size: 135px;
            color: white;
            margin: 21px 0;
        }

        p{
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
        }
    }

    .explore{
        position: relative;
        width: 242px;
        height: 242px;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 200px;

        h4{
            font-family: 'Bellefair';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 37px;

            letter-spacing: 2px;
            color: #0B0D17;
        }

        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + 150px);
            height: calc(100% + 150px);
            background: white;
            mix-blend-mode: normal;
            opacity: 0;
            z-index: 10;
            border-radius: 50%;
            transition: opacity .3s ease;
        }

        &:active{
            &::after{
                opacity: 0.1;
            }
        }
    }
}

@media (max-width: 769px) {
    .home-container{
        background-image: url("../../space-tourism-website-main/starter-code/assets/home/background-home-tablet.jpg") !important;
        flex-direction: column;
        justify-content: unset;
        text-align: center;
        gap: 80px;
        .introduce{
            flex: 0;
            margin: 0;
            margin-top: 200px;

            h1{
                line-height: 135px;
            }
            h4{
                font-size: 18px;
            }
        }

        .explore{
            margin-top: 80px;
        }
    }
}

@media (max-width: 500px) {
    .home-container{
        background-image: url("../../space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg") !important;

        flex-direction: column;
        text-align: center;
        gap: 65px;
        .introduce{
            margin: 0;
            margin-top: 112px;

            h1{
                line-height: 100px;
                font-size: 80px;
            }
            h4{
                font-size: 16px;
            }
            p{
                font-size: 15px;
                width: 327px;
            }
        }

        .explore{
            width: 150px;
            height: 150px;
            margin: 0;
            h4{
                font-size: 20px;
            }
        }
    }
}