.destination-container{
    position: absolute;
    top: 0;
    background-size: cover;
    // height: 100vh;
    width: 100vw;
    z-index: -1;
    // padding: 0 150px;

    .des-cover{
        padding: 175px 150px;
        padding-bottom: 0;
        .destination-header{
            color: white;
            display: flex;
            justify-content: flex-start;
            font-family: 'Barlow Condensed';
            font-style: normal;
            font-size: 25px;
            line-height: 34px;
            letter-spacing: 4.725px;
            margin-bottom: 50px;

            span{
                font-weight: 700;
                mix-blend-mode: normal;
                opacity: 0.25;
            }
    
            h4{
                margin-left: 25px;
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    }
}


.destination-content{
    display: flex;
    justify-content: space-between;
    .planet-image{
        width: 360px;
        height: 360px;
        background-size: cover;
        align-self: center;
        margin-left: 65px;
        transition: background-image .7s ease;
    }
    .des-introduce{
        .menu-planet{
            display: flex;
            list-style-type: none;
            .planet{
                margin-right: 31px;
                a{
                    position: relative;
                    text-decoration: none;
                    color: #D0D6F9 !important;
                    font-size: 14px;
                    padding-bottom: 12px;

                    &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 3px;
                        background: white;
                        bottom: 0;
                    }

                    &:hover{
                        &:before{
                            width: 100%;
                            mix-blend-mode: normal;
                            opacity: 0.5;
                        }
                    }
                }

                .active{
                    &:before{
                        width: 100% !important;
                        opacity: 1 !important;
                    }
                }
            }
        }
        .planet-content{
            color: white;
            
            h1, h4, p{
                transition: all .7s ease;
            }
            h1, h4{
                text-transform: uppercase;
                font-family: 'Bellefair';
            }
            h1{
                font-style: normal;
                font-weight: 400;
                font-size: 90px;
                line-height: 103px;
                margin-top: 32px;
            }
            h4{
                font-size: 25px;
                font-weight: 400;
                line-height: 28px;
            }
            p{
                color: #D0D6F9;
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                max-width: 400px;
                margin-bottom: 45px;
            }

            .planet-time-travel{
                padding-top: 25px;
                border-top: 1px solid #383B4B;
                display: flex;
                span{
                    font-family: 'Barlow Condensed';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 17px;
    
                    letter-spacing: 2.3625px;
                    text-transform: uppercase;
                    color: #D0D6F9;
    
                }

                .distance, time{
                    max-width: 150px;
                    width: 140px;
                }
                
                .distance{
                    margin-right: 60px;
                }
            }
        }
    }
}



@media (max-width: 1151px){
    .des-cover{
        padding-left: 80px !important;
        padding-right: 80px !important;
        .destination-header{
            padding-left: 70px;
        }
    }
}

@media (max-width: 1023px){
    .des-cover{
        padding: 175px 52px 0 52px !important;
        .destination-header{
            padding: 0;
            margin-bottom: 60px !important;
        }
        .destination-content{
            flex-direction: column;
            align-items: center;
            text-align: center;
            .planet-image{
                margin: 0;
                width: 270px;
                height: 270px;
                margin-bottom: 53px !important;

            }

            .menu-planet{
                justify-content: center;
                .planet{
                    margin: 0px 30px;
                    a{
                        font-size: 16px !important;
                    }
                }
            }

            .planet-info{
                h1{
                    font-size: 80px;
                    margin-top: 45px !important;
                }
                p{
                    max-width: 573px;
                    margin-bottom: 49px;
                }

                .planet-time-travel{
                    justify-content: space-around;
                    padding-bottom: 25px;

                }
            }
        }
    }
}

@media (max-width: 769px) {
    .destination-container{
        background-image: url("../../space-tourism-website-main/starter-code/assets/destination/background-destination-tablet.jpg") !important;
    }
}

@media (max-width: 426px) {
    .destination-container{
        background-image: url("../../space-tourism-website-main/starter-code/assets/destination/background-destination-mobile.jpg") !important;
        .des-cover{
            padding: 88px 24px 0 24px !important;
            .destination-header{
                justify-content: center;
                font-size: 16px;
                margin-bottom: 32px !important;
            }

            .destination-content{
            
                .planet-image{
                    margin: 0;
                    width: 170px;
                    height: 170px;
                    margin-bottom: 26px !important;
    
                }
    
                .menu-planet{
                    justify-content: center;
                    .planet{
                        margin: 0px 26px;
                        a{
                            font-size: 14px !important;
                        }
                    }
                }
    
                .planet-info{
                    h1{
                        font-size: 56px;
                        margin-top: 25px !important;
                    }
                    p{
                        max-width: 573px;
                        margin-bottom: 32px;
                        font-size: 15px;
                    }
    
                    .planet-time-travel{
                        flex-direction: column;
                        gap: 32px;
                        h4{
                            margin-top: 12px;
                        }
                        .distance{
                            max-width: none;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .destination-container{
        height: 100vh;
    }
}